
/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-container {
    width: 100%;
    box-sizing: border-box;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

section > h2 {
    margin: 0;
}

img {
    width: 100px;
}

ul {
    padding: 0;
    margin: 0;
}

/****** Headers ***********/

#nav_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#logo_booki {
    display: flex;
    padding: 30px 50px;
    flex-direction: column;
    align-items: flex-start;
}

nav img {
    width: 61.1px;
    height: 19px;
}

.nav_list {
    padding:0 50px;
    margin: 0;
    display: flex;
    align-items: flex-end;
    list-style: none;
    gap: 30px;
}

.nav_item {
    padding-top: 15px;
}

.nav_item button {
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
}

.active {
    color:var(--main-color);
    border-top: 2px solid var(--main-color);
}
/****** Main ***********/
main {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


/****** informations-and-filters ***********/
.informations-and-filters {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

/* **** informations **** */
.informations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.informations h1 {
    margin: 0;
}
.informations p {
    margin : 0;
}


/* **** Searchbar **** */
.searchbar {
    width: 100%;
    max-width: 335px;
    min-width: 280px;
}

.searchbar form {
    display: flex;
    border-radius: 15px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}

.searchbar form button {
    cursor: pointer;
    background-color: var(--main-color);
    color: var(--main-bg-color);
    font-weight: bold;
    border: none;
    border-radius: 0 15px 15px 0;
    
}

.searchbar form button span {
    display: block;
}

.fa-search {
    display: none;
    padding: 14px;
}

.searchbar form input {
    font-weight: bold;
    border:none;
    padding: 0 15px;
    width: 100%;
    width: -webkit-fill-available;
}

#searchbar:focus {
    outline-color: var(--main-color);
}

.searchbar form div {
    background: #eaeaea;
    color: gray;
    border: 1px solid #eaeaea;
    border-radius: 15px 0 0 15px;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar form div i {
    color: black;
}

a {
    color: inherit;
    text-decoration: none;
}

/* **** filters **** */
.filters {
    display: flex;
    align-items: center;
    gap: 15px;
}

.filters ul {
    display: flex;
    gap: 15px;
    align-items: center;
    list-style: none;
}

.filters ul li {
    border-radius: 25px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    font-size: 17px;
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    font-weight: 700;
}
.filters ul li:hover {
    cursor: pointer;
    background: var(--blue-light, #DEEBFF);
}

/* **** sub-informations **** */
.sub-informations {
    display: flex;
    align-items: center;
    gap: 15px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}





/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}




/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/

/* large devices (Big screen 2K and more, more/equal than 1440px) */
@media (min-width: 1440px) {
    /* main {
        gap: 35px;
    } */
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {


    .filters {
        flex-direction: column;
        align-items: flex-start;
    }
    .filters ul li {
        font-size: 16px;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }    

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    main {
        padding: 0;
    }
    .main-container {
        padding: 0;
    }
    #nav_container {
        flex-direction: column;
        align-items: center;
    }
    .nav_list {
        border-bottom: #eaeaea solid 1px;
        width: 100%;
        padding: 0;
    }
    .nav_item {
        width: 100%;
        text-align: center;
        padding-bottom: 15px;
        padding-top: 0;
    }

    .active {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
    }

    h1 {
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0;
    }
    p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
    }
    .informations-and-filters {
        flex-direction: column;
        align-items: flex-start;
        gap: 35px;
        padding: 0 20px;
    }

    .fa-search {
        display: block;
    }
    .searchbar form button {
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.3);
        -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.3); 
    }

    .searchbar form button span {
        display: none;
    }
    .filters {
        max-width: 335px;
        width: 100%;
        min-width: 280px;
    }
    .filters ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 10px;
        width: 100%;
    }

    .filters ul li {
        font-size: 14px;
    }
}